@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a Imobiliária Virtual</h1>
    <p>Esta aplicação permite o cadastro, atualização, listagem e exclusão dos imóveis da Imobiliária Virtual</p>
</div>
